{% extends 'base.html' %}

{% block content %}

<style>

.login-page {
    width: 100%;
    height: 60vh;
    display: inline-block;
    display: flex;
    align-items: center;
}

</style>

<div class="login-page bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="bg-white shadow rounded">
                    <div class="row">
                        <div class="col-md-7 pe-0">
                            <div class="form-left h-100 py-5 px-5">
                                <form action="{% url 'login' %}" method="post" class="row g-4">
                                    {% csrf_token %} 
                                    <div class="col-12">
                                        <label>Email<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="fa fa-user"></i></div>
                                            <input type="email" name="email" class="form-control" placeholder="Enter Email" required>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label>Password<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="input-group-text"><i class="fa fa-lock"></i></div>
                                            <input type="password" name="password" class="form-control" placeholder="Enter Password" required>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <button type="submit" class="btn px-4 float-end mt-4" style="background-color: black;color: white;">Entrar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-5 ps-0 d-none d-md-block">
                            <div class="form-right h-100 text-white text-center pt-5" style="background-color: black;">
                                <i class="fa fa-lock" style="font-size: 8em;"></i>
                                <h2 class="fs-1">Bienvenido</h2>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                {% include 'includes/alerts.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>

{% endblock %}