{% load static %}
<div id="specs" class="features-boxed">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="boxed-intro text-center wow fadeInDown">
            <h4>Atencion</h4>
            <h1>Nuestro contacto</h1>
            <p>email@gmail.com</p>
          </div>
        </div>           
      </div>
    </div>
</div>
</div>
  
</body>
</html>