<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header page-scroll">
        <a class="navbar-brand" href="{% url 'index' %}"> EAC Servicios </a>
      </div>

      {% if user.is_authenticated %}
      <a href="{% url 'logout' %}" class="btn btn-nav page-scroll wow fadeInDown" style="background-color: red; color: white;" data-wow-delay="0.3s"><span>Salir</span></a>
      {% else %}
      <a href="{% url 'login' %}" class="btn btn-nav page-scroll wow fadeInDown" data-wow-delay="0.3s"><span>Login</span></a>
      {% endif %}

    </div>

    
     

</nav>