
<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
       
        <div class="sb-sidenav-menu">
            <div class="nav">               
                <a class="nav-link" href="{% url 'adminDashboard' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>              
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Conectado:</div>
            <b>{{ user.username }} - {{ user.get_role}}</b>
        </div>
    </nav>
</div>
