
<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
       
        <div class="sb-sidenav-menu">
            <div class="nav">
                                    
                <a class="nav-link {% if 'userDashboard' in request.path %}active{% endif %}" href="{% url 'userDashboard' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>

                <a class="nav-link {% if 'listarVehiculos' in request.path %}active{% endif %}" href="{% url 'listarVehiculos' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Listado de Vehiculos
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Conectado:</div>
            <b>{{ user.username }} - {{ user.get_role}}</b>
        </div>
    </nav><div class=""></div>
</div>