{% load static %}
<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>EAC Servicios</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="EAC Servicios">
    <meta name="keywords" content="EAC Servicios">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700%7CRoboto:300,400,500%7CMuli:300,400" rel="stylesheet">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet">

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css"/>
  </head>
  <body>

    <div class="wrapper">
        {% include 'includes/navbar.html' %}

        {% block content %}

        {% endblock%}