{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <title>Sigta</title>
</head>
<body>
    <div class="container pt-5">
        <div class="card mx-auto" style="width: 10rem;">
            <img src="{{ brand.photo.url }}" class="card-img-top" alt="Brand">
            <div class="card-body">
              <p class="card-text">{{ brand.brand }}</p>
            </div>
            <a href="{% url 'home' %}" class="btn btn-primary">Regresar</a>
          </div>

    </div>
</body>

<script src="{% static 'js/bootstrap.min.js' %}"></script>

</html>
