{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <title>Sigta</title>
</head>
<body>
    <div class="container pt-5">
        <h1>Marcas</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Image</th>
                    <th scope="col">Marca</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for brand in brands %}
                    <tr>
                        <th scope="row" style="vertical-align:middle;"><a href="{% url 'brand_detail' brand.id %}">{{ brand.id }}</a></th>
                        <th scope="row" style="vertical-align:middle;"><img src="{{ brand.photo.url }}" width="80"></th>
                        <th scope="row" style="vertical-align:middle;"> {{ brand.brand }}</th>
                    </tr>   
                {% endfor %}
            
            </tbody>
        </table>
    </div>
</body>

<script src="{% static 'js/bootstrap.min.js' %}"></script>

</html>