{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="main" class="main main-2">
  <div class="hero-2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="intro">
            <h1 class="wow fadeInDown" data-wow-delay="0.1s"><span>Nuestra</span> Pasion</h1>
            <p class="wow fadeInDown" data-wow-delay="0.2s">
              En EAC Servicios, nos dedicamos a proporcionar servicios de reparación automotriz de alta calidad con un compromiso inquebrantable hacia la satisfacción del cliente y la excelencia en el servicio. Nuestra misión es:
              <p><b>Excelencia Técnica:</b></p>

              <p>Brindar servicios de reparación y mantenimiento automotriz utilizando las últimas tecnologías y técnicas, respaldadas por un equipo altamente capacitado de profesionales.</p>
              
              <p><b>Satisfacción del Cliente:</b></p>
              
              <p>Superar las expectativas de nuestros clientes mediante la entrega de servicios confiables, eficientes y personalizados. Nos esforzamos por construir relaciones duraderas basadas en la confianza y la transparencia.</p>
              
              <p><b>Integridad y Ética Profesional:</b></p>
              
              <p>Operar con los más altos estándares de integridad y ética profesional. Nuestra transparencia en los servicios y tarifas garantiza la confianza de nuestros clientes.</p>
            </p>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 text-center">
          <img class="img-responsive" src="{% static 'images/servicios1.jpg' %}" alt="servicios" width="390">
         
            <div class="boxed-intro text-center wow fadeInDown">
              <h4>Atencion</h4>
              <h1>Nuestro contacto</h1>
              <p>email@gmail.com</p>
            </div>
        
        </div>


      </div>
    </div>
  </div>
  {% endblock content %}