{% extends 'baseDashboard.html' %}

{% block content %}

{% include 'includes/dashboard/nav.html' %}

{% load humanize %}

  <div id="layoutSidenav">

    {% include 'includes/dashboard/u_sidebar.html' %}

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h2>Bienvenido</h2>
                <form action="{% url 'userDashboard' %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-4">
                            <label>Seleccione una fecha</label>
                            <div class="input-group">
                                <input type="text" class="form-control datepicker" name="date" id="date" placeholder="Seleccione una fecha">
                                <label class="input-group-btn" for="date">
                                    <span class="btn btn-default">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div><br>
                    <button type="submit" class="btn-send btn-send-primary">Consultar</button>
                    <a href="{% url 'order_details_pdf' fecha_actual %}" class="btn btn-default"><i class="fa fa-print" aria-hidden="true"></i> &nbsp; Imprimir Resumen del mes </a>
                    <h2 class="pt-3">Fecha de la consulta: {{ fecha_actual }}</h2>
                </form>

                <hr>
                
                <!-- <div class="row">
                    {% for rows in results %} 
                        <div class="col-sm-4">
                            <div class="card">
                                <div class="card-body">
                                <h5 class="card-title">Orden de: {{ rows.1 }} <br>  Cantidad de Ordenes: {{ rows.2 }}</h5>
                                <a href="{% url 'order_type_service' rows.0  fecha_actual %}" class="btn btn-dark">Ver detalles</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}                     
                </div> -->
                
                
                <div class="row pt-3">
                    {% for rows in is_paid %} 
                        <div class="col-sm-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Cobranza: {{ rows.0 }} <br>  Cantidad de Ordenes: {{ rows.2 }} <br> Monto: {{ rows.1|floatformat:"2"|intcomma }}</h5>
                                    {% if rows.0 == "Pendiente" %}
                                        <a href="{% url 'order_status' rows.0 fecha_actual %}" class="btn btn-warning">Ver detalles</a>    
                                    {% else %}    
                                        <a href="{% url 'order_status' rows.0 fecha_actual %}" class="btn btn-success">Ver detalles</a>
                                    {% endif %}    
                                </div>
                            </div>
                        </div>
                        
                    {% endfor %}                     
                </div>    


            </div>
        </main>
    </div>
  </div>


  <script>

    window.addEventListener("load", function() {
        (function($) {

        var today = new Date();
        var currentMonth = today.getMonth() + 1; // Months are zero based
        var currentYear = today.getFullYear();
        var currentDate = currentYear + "/" + currentMonth;
          
          $('.datepicker').datepicker({
            language: "es",
            format: 'yyyy-mm', 
            startView: "months",
            minViewMode: "months", 
            autoclose: true,
        });

        /* $('.datepicker').datepicker('setDate', currentDate); */

        })(jQuery);
    });

  </script>

{% endblock %}
