{% extends 'baseDashboard.html' %}

{% block content %}

{% include 'includes/dashboard/nav.html' %}

  <div id="layoutSidenav">
    {% include 'includes/dashboard/a_sidebar.html' %}

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <form id="frmParts"  method="POST">
                    {% csrf_token %}
                    <hr>
                    
                    {% for o in order %}
                    
                    <div class="row">
                        <div class="col-md-6 pe-0">
                            <a href="{% url 'adminDashboard' %}" class="btn btn-secondary"><i class="fa fa-angle-left" aria-hidden="true"></i> Regresar</a>
                            <a href="{% url 'pdf_order' o.id %}" class="btn btn-success"><i class="fa fa-print" aria-hidden="true"></i> &nbsp; Imprimir Orden</a>
                        </div>
                    </div>
                    <input type="hidden" name="order" value="{{ o.id }}">
                    <input type="hidden" name="insert_inventory" value="{{ insert_inventory }}">
                    <input type="hidden" name="insert_inspection" value="{{ insert_inspection }}">

                    <div class="row">                   
                        <h1 class="pt-3"><strong>Orden de: {{ o.type_service }}</strong> </h1>
                        <div class="col-md-4 pt-3">
                            <h5>Orden: {{ o.id }} </h5>
                            <li>Vehiculo:<strong><u>{{ o.vehicle }}</u></strong></li>
                            <li>Motivo:{{ o.reason }}</li>
                            <li>Chofer:{{ o.client }}</li>
                            <li>Gasolina Inicial:{{ o.start_oil }}</li>
                            <li>Gasolina Final:{{ o.end_oil }}</li>
                            <li>Kilometros:{{ o.km }}</li>
                        </div>

                        <div class="col-md-4 pt-3">
                            <h4>Inventario del Vehiculo</h4>
                            {% for i in inventory %}
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" {% if i.id in inventory_Order %}checked{% endif %} name="inventory[]" value="{{ i.id }}" id="inventory_{{ i.id }}">
                                    <label class="form-check-label" for="inventory_{{ i.id }}">{{ i.inventory }}</label>
                                </div>
                            {% endfor %}    
                        </div>

                        <div class="col-md-4 pt-3">
                            <h4>Estado general del vehiculo (Inspeccion)</h4>

                            {% for i in inspection_Order %}    
                                <div >
                                    <textarea rows="5" class="form-control" placeholder="Tipee los detalles del vehiculo" name="inspection" id="{{ i.id }}">{{ i.inspection }}</textarea>
                                </div>
                            {% endfor %}    
                        </div>
                    </div>

                    <div class="row">  
                        <h2 class="pt-3">Servicios o Productos</h2>
                        <hr>

                        <div class="col-md-8 pt-3">
                        
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Descripcion</th>
                                        <th scope="col">Cantidad</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for p in parts_order %}  
                                        <tr data-id="0">
                                            <td><input type="text" class="form-control form-control-sm" style="height: 2.85rem; width: 38rem; font-size:15px" name="descripcion[]" value="{{p.part}}" required></td>
                                            <td><input type="number" class="form-control form-control-sm" style="height: 2.85rem; width: 10rem;font-size:15px; padding-top: 0.65rem;" name="cantidad[]" value="{{p.quantity}}" required></td>
                                        </tr>
                                    {% endfor %}        
                                    </tbody>
                                </table>
                        </div>
                    </div>
                    {% endfor %}
                </form>
            </div>
        </main>
    </div>
  </div>

  <script>

function agregarFila(id) {
    var $tr = $('<tr data-id="' + id + '">' +
        '<td><input type="text" class="form-control form-control-sm" style="height: 2.85rem; font-size:13px" name="descripcion[]" required></td>' +
        '<td><input type="number" class="form-control form-control-sm" style="height: 2.85rem; font-size:13px" name="cantidad[]" required></td>' +
        '<td><button type="button" class="btn-send btn-send-primary agregar" style="width:50px; margin-top:0px"><i class="fas fa-plus"></i></button>' +
        '<button type="button" class="btn-send btn-send-deafault eliminar"  style="width:50px; margin-top:0px"><i class="fas fa-minus"></i></button></td>' +
        '</tr>');

        $('#frmParts tbody').append($tr);

    }

    window.addEventListener("load", function() {
        (function($) {         
            // Agregar fila
            $('#frmParts').on('click', '.agregar', function() {
                var $tr = $(this).closest('tr');
                var id = parseInt($tr.attr('data-id')) + 1;

                agregarFila(id);
            });

            // Eliminar fila
            $('#frmParts').on('click', '.eliminar', function() {
                $(this).closest('tr').remove();
            });   
            
            // $("#btn-guardar").click(function(e){
            //     e.preventDefault();
            //     $.ajax({
            //         type: "POST",
            //         url: "/colonias_add",
            //         data: $("#frmColonias").serialize(),
            //         success: function(data) {
            //             window.location.replace("/colonias");
            //         }
            //     });
            // });

        })(jQuery);
    });

  </script>

{% endblock %}