{% extends 'baseDashboard.html' %}

{% load crispy_forms_tags %}

{% block content %}

{% include 'includes/dashboard/nav.html' %}

  <div id="layoutSidenav">
    {% include 'includes/dashboard/u_sidebar.html' %}

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h2>Editar Orden de entrada</h2>
                <hr>

                {% for o in orderVehicle %}
                  <h5>Orden: {{ o.id }} </h5>
                  <img src="{{ o.vehicle.photo.url }}" width="150"> 
                  <p><strong><img src="{{ o.vehicle.brand.photo.url }}" width="60"><u>Placa: {{ o.vehicle }}</u></strong></p>
                 
                {% endfor %}   
                
                <button class="btn btn-secondary" onclick="history.back()"><i class="fa fa-angle-left" aria-hidden="true"></i> Regresar</button>
                <div class="row pt-0 mt-0">
                  <div class="col-md-12 col-sm-12">
                    <br><br>
                    <h6>Editar una nueva orden de ingreso</h6>
                    <form action="{% url 'edit_order' pk %}" method="POST">
                        {% csrf_token %}
                       
                        <div class="form-fields-set">

                          <div class="row">
                            <div class="col-4">
                              {{ form.year|as_crispy_field }}
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-4">
                              {{ form.type_service|as_crispy_field }}
                            </div>

                            <div class="col-4">
                              {{ form.start_date|as_crispy_field }}
                            </div>

                            <div class="col-4">
                              {{ form.end_date|as_crispy_field }}
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-6">
                              {{ form.vehicle|as_crispy_field }}
                            </div>

                            <div class="col-6">
                              {{ form.client|as_crispy_field }}
                            </div>

                          </div>
                           
                          <div class="row">
                            <div class="col-4">
                              {{ form.km|as_crispy_field }}
                            </div>

                            <div class="col-4">
                              {{ form.start_oil|as_crispy_field }}
                            </div>

                            <div class="col-4">
                              {{ form.end_oil|as_crispy_field }}
                            </div>

                          </div>

                          <div class="row">
                            <div class="col-12">
                              {{ form.reason|as_crispy_field }}
                            </div>
                          </div>


                          <div class="row">
                            <div class="col-6">
                              {{ form.status|as_crispy_field }}
                            </div>

                            <div class="col-6">
                              {{ form.is_paid|as_crispy_field }}
                            </div>
                          </div>
                        </div>
                        

                        {% for field in form %}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <li style="color: red;">{{ error }}</li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}

                        <button type="submit" class="btn-send btn-send-primary">Guardar</button>
                    </form>
                  </div>
                </div>
            </div>
        </main>
    </div>
  </div>

  <script>

    window.addEventListener("load", function() {
        (function($) {
          
          $('.datepicker').datepicker({
            format: 'yyyy-mm-dd',  
            autoclose: true,
            todayHighlight:true,
        });
        })(jQuery);
    });

  </script>

{% endblock %}
