{% extends 'baseDashboard.html' %}
{% load humanize %}
{% block content %}

{% include 'includes/dashboard/nav.html' %}

  <div id="layoutSidenav">
    {% include 'includes/dashboard/u_sidebar.html' %}

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h2>Listados de Ordenes</h2>

                <hr>

                <div class="row">
                  <div class="col-md-12 pe-0">
                    {% for v in vehicle %}
                      <img src="{{ v.photo.url }}" width="150"> 
                      <p class="pt-3" style="color: blue;">
                        <strong>{{ v.plate }} | {{ v.vehicle }}</strong>
                        <img src="{{ v.brand.photo.url }}" width="90"><br>
                      </p> 
                      <button class="btn btn-secondary" onclick="history.back()"><i class="fa fa-angle-left" aria-hidden="true"></i> Regresar</button>
                      <a href="{% url 'add_order' v.id %}" class="btn btn-info"><i class="fa fa-plus" aria-hidden="true"></i> &nbsp; Agregar Orden</a>

                    {% endfor %}
                    <hr>
                  </div>
                </div>

                <div class="table-responsive">
                  <table class="table table-striped" id="orders">
                    <thead class="table-dark">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Año Fiscal</th>
                          <th scope="col">Servicio</th>
                          <th scope="col">Chofer</th>
                          <th scope="col">Motivo</th>
                          <th scope="col">Fecha de entrada</th>
                          <th scope="col">Km</th>
                          <th scope="col">Gasolina Inicial</th>
                          <th scope="col">Gasolina Final</th>
                          <th scope="col">Estatus</th>
                          <th scope="col">Monto</th>
                          <th scope="col">Pagado</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>

                        {% for o in orders %}

                        
                        <tr>
                          <td>{{ o.0 }}</td>
                          <td>{{ o.10 }}</td>
                          <td>{{ o.1 }}</td>
                          <td>{{ o.2 }}</td>
                          <td>{{ o.3 }}</td>
                          <td>{{ o.4 }}</td>
                          <td>{{ o.5 }}</td>
                          <td>{{ o.6 }}</td>
                          <td>{{ o.7 }}</td>
                          <td>{{ o.8 }}</td>
                          <td  style="background-color: green;color: white;">
                              {{ o.11|floatformat:2|intcomma }}
                          </td>
                        
                          {% if o.9 == "Pendiente" %}
                            <td style="background-color: orange;color: white;">{{ o.9 }}</td>
                          {% else %}
                            <td>{{ o.9 }} <i class="fa fa-check" aria-hidden="true" style="color: green;" ></i></td>
                          {% endif %}  
                        
                          <td>
                            <a href="{% url 'completed_order' o.0 %}"><i class="fa fa-address-book" style="color: black;" aria-hidden="true"></i></a>
                            <a href="{% url 'edit_order' o.0 %}"><i class="fa fa-edit" style="color: black;" aria-hidden="true"></i></a>
                          </td>
                        </tr>

                        {% endfor %}
                      
                      </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
  </div>

  <script>

    window.addEventListener("load", function() {
        (function($) {
          var table = $('#orders').DataTable({
                "order": [[5, 'desc']], 
                "rowGroup": {
                    "dataSrc": 5
                }
          });

        var years = [];
        table.column(1).data().each(function(year) {
            if ($.inArray(year, years) === -1) {
                years.push(year);
            }
        });
        years.sort();

        var yearFilter = $('<select id="yearFilter"><option value="">All</option></select>');
        $.each(years, function(index, year) {
            yearFilter.append('<option value="' + year + '">' + year + '</option>');
        });
        $('th:eq(1)', table.table().header()).html(yearFilter);

        // Apply filtering when year changes
        yearFilter.on('change', function() {
            var year = $(this).val();
            table.column(1).search(year).draw();
        });


        })(jQuery);
    });

  </script>


{% endblock %}
