{% extends 'baseDashboard.html' %}

{% block content %}

{% include 'includes/dashboard/nav.html' %}

  <div id="layoutSidenav">
    {% include 'includes/dashboard/u_sidebar.html' %}

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h2>Listados de Vehiculos</h2>
                <hr>
                <div class="table-responsive"></div>
                  <table class="table table-hover" id="vehicles">
                      <thead class="table-dark">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Foto</th>
                          <th scope="col">Placa</th>
                          <th scope="col">Vehiculo</th>
                          <th scope="col">Marca</th>
                          <th scope="col">Modelo</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for vehicle in vehicles %}
                        <tr>
                          <td>{{ vehicle.id }}</td>
                          <td><img src="{{ vehicle.photo.url }}" width="150"></td>
                          <td>{{ vehicle.plate }}</td>
                          <td>{{ vehicle.vehicle}}</td>
                          <td><img src="{{ vehicle.brand.photo.url }}" width="120"></td>
                          <td>{{ vehicle.model}}</td>
                          <td> 
                              <a href="{% url 'listarOrdenes' vehicle.id %}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
  </div>


  <script>

    window.addEventListener("load", function() {
        (function($) {
          $('#vehicles').DataTable({
            "pageLength": 25,
           
          });
        })(jQuery);
    });

  </script>


{% endblock %}
