{% extends 'baseDashboard.html' %}

{% block content %}

{% include 'includes/dashboard/nav.html' %}

  <div id="layoutSidenav">
    {% include 'includes/dashboard/u_sidebar.html' %}

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                
                <hr>
                
                {% for o in order %}
                
                <div class="row">
                    <div class="col-md-6 pe-0">
                        <button class="btn btn-secondary" onclick="history.back()"><i class="fa fa-angle-left" aria-hidden="true"></i> Regresar</button>
                        <a href="{% url 'add_order' o.id %}" class="btn btn-success"><i class="fa fa-print" aria-hidden="true"></i> &nbsp; Imprimir Orden</a>
                    </div>
                </div>
                
                <div class="row">                   
                    <h2 class="pt-3"><u>Orden de:{{ o.type_service }}</u></h2>
                    <div class="col-md-4 pt-3">
                            <h4># de Orden: {{ o.id }} </h4>
                            <li>Vehiculo:{{ o.vehicle }}</li>
                            <li>Motivo:{{ o.reason }}</li>
                            <li>Chofer:{{ o.client }}</li>
                            <li>Gasolina Inicial:{{ o.start_oil }}</li>
                            <li>Gasolina Final:{{ o.end_oil }}</li>
                            <li>Kilometros:{{ o.km }}</li>
                    </div>


                    <div class="col-md-4 pt-3">
                        <h4>Inventario</h4>
                        {% if inventary_order %}
                            {% for i in inventary_order %}
                                <li>{{ i.inventory }}</li>
                            {% endfor %}
                        {% else %}
                            <small>Sin Inventario</small>
                        {% endif %}        
                    </div>

                    <div class="col-md-4 pt-3">
                        <h4>Detalles</h4>
                        {% if inspection_order %}
                            {% for i in inspection_order %}
                                <li>{{ i.inspection }}</li>
                            {% endfor %}
                        {% else %}
                            <small>Sin Detalles</small>
                        {% endif %}        
                    </div>

                    <h2 class="pt-3"><u>Repuestos</u></h2>
                    <table class="table table-striped" id="orders">
                        <thead>
                            <tr>
                                <th>Repuestos</th>
                                <th>Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in items_parts_order %}
                                <tr>
                                    <td>{{ i.part }}</td>
                                    <td>{{ i.quantity }}</td>
                                </tr>
                            {% endfor %}

                            {% for i in items_services_order %}
                                <tr>
                                    <td>Mano de Obra - {{ i.service }}</td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                   




                    {% endfor %}
                    <hr>
                  </div>
                </div>
                
            </div>
        </main>
    </div>
  </div>


{% endblock %}